<main>
    <div class="top-page">
      <img src="/image/dominion_top.png" >
      <div class="login-area">
        <div class="login-left"></div>
        <div class="login">
          <%= render 'login' %>

        </div>
        <div class="login-right"></div>
      </div>
    </div>
</main>

<style>
  /*main > .top-page > .login-area {*/
  /*  position: absolute;*/
  /*}*/
  

</style>
