<main>
    <div class="top-page">
      <% if Rails.env.production? %>
        <img src="/image/dominion_top.png" >
      <%  elsif Rails.env.development? %>
        <img src="/image/dev/no-image.png" >
      <% end %>
      <div class="login-area">
        <div class="login-left"></div>
        <div class="login">
          <%= render 'login' %>

        </div>
        <div class="login-right"></div>
      </div>
    </div>
</main>

<style>
  /*main > .top-page > .login-area {*/
  /*  position: absolute;*/
  /*}*/
  

</style>
