// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


main > div > img {
    position: absolute;
    top: 56px;
    left: 0;
    margin: 0;
    width: 100%;
    
}