// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#match-new {
    width: 80%;
    margin: 0 auto;
    
    .match-name {
        width: 60%;
    }
    
    .unit-price {
        width: 60%;
    }
}


.match-new-submit {
    margin-top: 20px;
}

th.inning_number {
    width: 30px;
}

td.td_user_name {
    text-align: center;
}

td.td_used_version {
    text-align: center;
    width: 30px;
}

td.td_point_histrory {
    text-align: center;
}

td.td_new_point {
    text-align: center;
}

th.th_match_total {
    text-align: center;
}

td.td_match_total {
    text-align: center;
}

.extended_version_checkbox {
    padding-right: 10px;
}

.end_match_button {
    text-align: right;
}

.end_match_message {
    font-weight: bold;
    text-align: right;
}

#enter_point .title {
    text-align: center;
}


table.matches {
    th, td {
      text-align: center;
    }
}


#enter_point td.victory_user_of_inning {
    background: #ccac00d6;
}

