// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-up, #login {
    width: 80%;
    margin: 0 auto;
}

.submit-button {
    margin-top: 30px;
}

#mypage > .match-result span {
    font-size: 17px;
    font-weight: 500;
    padding-left: 20px;
}

#mypage > .my-page > span {
    font-size: 19px;
    font-weight: 500;
    padding-left: 50px;    
}


