<nav class="navbar navbar-expand-lg bg-secondary navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      Club Dominion
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/matches/new" style="color: white;">Add Match</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/matches" style="color: white;">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://dominion.games/" style="color: #673ab7;" target="_blank">DominionOnline</a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/users" style="color: white;">Users</a>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", logout_path, class: "nav-link", style: "color: #ffeb3b;" %>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/users/mypage" style="color: white;">Mypage</a>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link", style: "color: #ffeb3b;" %>
          </li>         
        <% end %>
      </ul>
    </div>
  </div>
</nav>